<template>
    <div class="content">
        <p class="font-police-semi-bold title">{{ title }}</p>
        <div class="list" v-for="l in list" :key="l.title">
            <ProgrammeTitle :title="l.title" />
            <p class="font-police-medium listName" v-for="ln in l.name" :key="ln.value">{{ ln }}</p>
        </div>
    </div>
</template>
<script>
import ProgrammeTitle from '~/components/drapeau/components/programme/ProgrammeTitle.vue';
export default {
    props: {
        title: String,
        list: Array
    },
    components: {
        ProgrammeTitle
    }
}
</script>
<style scoped>
    .title{
        font-size: 1.5em;
        color: var(--color-red);
    }

    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .listName{
        font-size: 1em;
        color: var(--color-dark-blue);
    }
</style>