<template>
    <div class="title-block">
        <div class="line"></div>
        <p class="font-police-semi-bold">{{ title }}</p>
        <div class="line"></div>
    </div>
</template>
<script>
export default {
    props: {
        title: String
    }
}
</script>
<style scoped>

    .title-block{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        margin: 0 auto;
        margin-top: 30px;
    }
    .line{
        height: 2px;
        width: 50px;
        background-color: var(--color-light-brown);
    }

    p{
        font-size: 1.2em;
        color: var(--color-light-brown);
    }
</style>