<template>
    <section class="container">
        <div class="text-section">
            <h1 class="font-police-medium">Inauguration de notre nouveau drapeau</h1>
            <h2 class="font-police-semi-bold">Rendez-vous le 23 et 24 août 2024</h2>
            <TextComponent text="Nous avons le plaisir de vous convier à l'inauguration du nouveau drapeau de la jeunesse. Vous trouverez toutes les informations nécessaires ci-dessous afin de passer 2 jours de fête avec nous." />
            <div class="button-block">
                <a href="#sponsoring"><PrimaryButton title="Nous soutenir" color="red" /></a>
                <a href="#gala"><SecondaryButton title="Inscription pour le repas `Gala`" color="red" textColor="red" /></a>
                <a href="mailto:jeunessedemont@gmail.com?subject=Inscription broche "><SecondaryButton title="Inscription pour la broche" color="red" textColor="red" /></a>
            </div>
        </div>
        <div class="picture-container">
            <img :src="require('~/assets/img/jeunesse_group.jpg')" alt="">
        </div>
    </section>
</template>
<script>
import PageTitle from '~/components/utils/PageTitle.vue'
import PrimaryButton from '~/components/utils/buttons/PrimaryButton.vue'
import SecondaryButton from '~/components/utils/buttons/SecondaryButton.vue'
import TextComponent from '~/components/utils/titles/TextComponent.vue'

export default {
    components: {
        PageTitle,
        PrimaryButton,
        SecondaryButton,
        TextComponent
    }
}
</script>
<style scoped>
    section {
        padding: 120px 0;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .picture-container{
        height: auto;
        width: 45%;
    }

    .text-section{
        width: 55%;
    }

    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    h1{
        color: var(--color-light-brown);
        font-size: 3em;
        line-height: 100%;
        max-width: 660px;
    }

    h2{
        color: var(--color-turquoise);
        font-size: 26px;
        padding: 20px 0;
    }

    p{
        color: var(--color-light-gray);
        max-width: 500px;
    }

    a{
        text-decoration: none;
        height: auto;
    }

    .button-block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;
    }

    @media all and (max-width: 700px) {
        .button-block{
            flex-direction: column;
            width: 100%;
        }
    }

    @media all and (max-width: 900px) {
        section{
            flex-direction: column;
            gap: 40px;
            padding: 20px 0 40px 0;
        }

        h1{
            font-size: 2em;
        }

        h2{
            font-size: 1.3em;
        }

        p{
            font-size: 1.1em;
            line-height: 150%;
        }

        section div.text-section, div.picture-container{
            width: 100%;
        }
    }
</style>