<template>
    <section id="gala">
        <div class="container">
            <TitleComponent title="Repas spécial “Gala”" />
            <TextComponent text="Rendez-vous le vendredi 23 août pour un repas spécial. Nous vous avons fait le choix de vous proposer un repas en guise de soutien original, accompagné d'un groupe de musique. Un repas proposé par l'Auberge de Mont, Robert Buchet et le Chef Jimmy Legeret, nous vous attendons nombreux." />
            <a href="mailto:jeunessedemont@gmail.com"><PrimaryButton title="Réservez votre place" color="light-brown" textColor="white" /></a>
            <div class="menu-block">
                <MenuWidget :list="menu" />
                <p class="font-police-medium price">Frs. 75.-</p>
            </div>
        </div>
    </section>
</template>
<script>
import TitleComponent from '~/components/utils/titles/TitleComponent.vue'
import ProgrammeWidget from '~/components/drapeau/components/programme/ProgrammeWidget.vue'
import TextComponent from '~/components/utils/titles/TextComponent.vue'
import MenuWidget from '~/components/drapeau/components/menu/MenuWidget.vue'
import PrimaryButton from '~/components/utils/buttons/PrimaryButton.vue'

export default {
    components: {
        TitleComponent,
        ProgrammeWidget,
        TextComponent,
        MenuWidget,
        PrimaryButton
    },
    data () {
        return {
            menu: [
                {
                    title: 'Entrée',
                    name: ['Tartare de saumon', 'Crème aux herbes', 'Salade de mesclun']
                },
                {
                    title: 'Plat principal',
                    name: ['Suprême de volaille aux champignons', 'Tian de légumes', 'Pommes de terre château']
                },
                {
                    title: 'Dessert',
                    name: ['Mousse chocolat et passion']
                }
            ]
        }
    }
}
</script>
<style scoped>
    section{
        background-color: var(--color-bordeaux);
        padding: 60px 0;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 60px auto;
        text-align: center;
    }

    a{
        text-decoration: none;
        margin: 40px 0 -20px 0;
    }

    h3{
        color: var(--color-white);
        margin-bottom: 50px;
    }

    p{
        max-width: 600px;
        text-align: center;
        color: var(--color-extra-light-gray);
    }

    .info-text{
        margin-top: 60px;
    }

    .menu-block{
        width: calc(100% - 40px);
        padding: 20px;
        background-color: var(--color-dark-bordeaux);
        border-radius: 20px;
        max-width: 450px;
        margin: 80px 0 20px 0;
    }

    .price{
        font-size: 2em;
        color: var(--color-white);
        margin: 50px 0 10px 0;
    }

    @media all and (max-width: 700px) {
    }
</style>