<template>
    <section>
        <div class="container">
            <TitleComponent title="Programme" />
            <div class="programme">
                <ProgrammeWidget title="Vendredi 23 août" :list="friday" />
                <ProgrammeWidget title="Samedi 24 août" :list="saturday" />
            </div>
        </div>
    </section>
</template>
<script>
import TitleComponent from '~/components/utils/titles/TitleComponent.vue'
import ProgrammeWidget from '~/components/drapeau/components/programme/ProgrammeWidget.vue'

export default {
    components: {
        TitleComponent,
        ProgrammeWidget
    },
    data () {
        return {
            friday: [
                {
                    title: '19H00',
                    name: ['Apéritif']
                },
                {
                    title: '20H00',
                    name: ['Repas de Gala avec concert', 'Concert de VSPO - Groupe de Jazz']
                }
            ],
            saturday: [
                {
                    title: '11H00',
                    name: ['Apéritif', 'Partie officielle', 'Animation par la Fanfare de Mont-sur-Rolle']
                },
                {
                    title: '12H00',
                    name: ['Broche - Frs. 35.-/personne']
                },
                {
                    title: '14H00',
                    name: ['Rallye pédestre (durée env. 3h30)']
                },
                {
                    title: '18H00',
                    name: ['Concert de "In the spirit"', 'Résultats du rallye']
                },
                {
                    title: '22H00',
                    name: ['Concert de "Star6tem"']
                },
                {
                    title: '04H00',
                    name: ['Fermeture']
                }
            ]
        }
    }
}
</script>
<style scoped>
    section{
        background-color: var(--color-background);
        padding: 60px 0;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h3{
        color: var(--color-dark-blue);
        margin-bottom: 50px;
    }

    .programme{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        overflow: hidden;
        gap: 50px;
    }

    @media all and (max-width: 700px) {
        .programme{
            flex-direction: column;
            gap: 80px;
            width: 100%;
        }
    }
</style>