<template>
    <section id="sponsoring" class="container">
        <PageTitle title="Nous soutenir" />
        <TextComponent text="Envie de faire un don ou faire une annonce dans notre livret de fête ? N'hésitez pas et contactez nous !" />
        <div class="contact-box">
            <div class="items">
                <div class="text-list">
                    <TextComponent class="title" text="Ulysse Durand" />
                    <TextComponent class="subtext" text="Responsable sponsoring" />
                </div>
                <a href="mailto:ulyssedurand@outlook.com">
                    <PrimaryButton title="Envoyer un mail" color="light-brown" />
                </a>
            </div>
            <div class="items">
                <div class="text-list">
                    <TextComponent class="title" text="Faire un don anonyme" />
                    <TextComponent class="subtext" text="IBAN: CH88 0832 7765 0229 7512 3" />
                    <TextComponent class="subtext" text="Bénéficiaire: Jeunesse de Mont-sur-Rolle" />
                    <TextComponent class="subtext" text="Adresse : 1185 Mont-sur-Rolle" />
                </div>
                <TextComponent class="info" text="Merci de préciser la nature de votre don dans les remarques." />
            </div>
        </div>
    </section>
</template>
<script>
import PageTitle from '~/components/utils/PageTitle.vue'
import PrimaryButton from '~/components/utils/buttons/PrimaryButton.vue'
import TextComponent from '~/components/utils/titles/TextComponent.vue'
import Information from '~/components/utils/Information.vue'
import Staff from '~/components/Staff.vue'

import Members from '~/assets/js/Members.js'

export default {
    components: {
        PageTitle,
        PrimaryButton,
        TextComponent,
        Staff,
        Information
    },
    computed: {
        getResp () {
            return Members.getMembers().filter((user) => user.name == 'Ulysse Durand')[0]
        }
    }
}
</script>
<style scoped>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0 60px 0;
    }

    p{
        max-width: 600px;
        text-align: center;
        color: var(--color-extra-gray);
    }

    a{
        text-decoration: none;
    }

    .contact-box{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .contact-box .items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 40px 0 20px 0;
    }

    .text-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .title{
        font-size: 1.5em;
        color: var(--color-dark-blue);
    }

    .subtext{
        color: var(--color-light-gray);
    }

    .img{
        margin: 0;
    }

    .info{
        font-size: 0.9em;
        color: var(--color-turquoise);
    }
</style>
