<template>
    <p class="font-police-medium">{{ text }}</p>
</template>
<script>
export default {
    props: {
        text: String
    }
}
</script>
<style scoped>
    p{
        font-size: 1em;
        line-height: 150%;
    }

    @media all and (max-width: 700px) {
        p{
            font-size: 0.9em;
        }
    }
</style>