<template>
    <h3 class="font-police-semi-bold">{{ title }}</h3>
</template>
<script>
export default {
    props: {
        title: String
    }
}
</script>
<style scoped>
    h3{
        font-size: 2em;
    }

</style>