<template>
    <div :style="`background-color: var(--color-${color}); border: 3px solid var(--color-${color})`">
        <p class="font-police-semi-bold">{{ title }}</p>
    </div>
</template>
<script>
export default {
    props: {
        title: String,
        color: String
    }
}
</script>
<style scoped>
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border-radius: 10px;
        width: max-content;
        cursor: pointer;
        transition: .2s linear;
    }

    div:hover{
        filter: brightness(90%);
    }

    p{
        font-size: 0.9em;
        color: var(--color-white);
    }

    @media all and (max-width: 900px) {
        div{
            width: auto;
        }
    }
</style>