<template>
    <div>
        <Header />
        <Programme />
        <Menu />
        <Sponsoring />
    </div>
</template>
<script>
import Header from '~/components/drapeau/Header.vue'
import Programme from '~/components/drapeau/Programme.vue'
import Menu from '~/components/drapeau/Menu.vue'
import Sponsoring from '~/components/drapeau/Sponsoring.vue'

export default {
    components: {
        Header,
        Programme,
        Menu,
        Sponsoring
    }
}
</script>