<template>
    <div class="font-police">{{name}}</div>
</template>
<script>
export default {
    props: {
        name: String
    }
}
</script>
<style scoped>
    div {
        height: 35px;
        width: max-content;
        padding: 0 20px;
        border-radius: 10px;
        background-color: #222222;
        color: white;
        font-size: 0.7em;
        font-weight: 300;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>