<template>
    <footer>
        <div class="footer-content">
            <div class="footer-header">
                <div>
                    <h2 class="font-police-medium">Liens utiles</h2>
                    <a href="https://www.mont-sur-rolle.ch/" target="_blank" class="font-police-medium">Commune de Mont-sur-Rolle</a>
                    <a href="https://www.fvjc.ch/" target="_blank" class="font-police-medium">FVJC</a>
                    <a href="https://www.jeunesses-aubonne.ch/" target="_blank" class="font-police-medium">Jeunesse de l'Aubonne</a>
                </div>
                <div>
                    <h2 class="font-police-medium">Nous suivre</h2>
                    <a href="https://www.instagram.com/jeunesse_mont_sur_rolle/?hl=fr" target="_blank" class="font-police-medium">Instagram</a>
                    <a href="https://fr-fr.facebook.com/jeunessedemont/" target="_blank" class="font-police-medium">Facebook</a>
                </div>
            </div>  
            <div class="footer-bottom">
                <p class="font-police-medium bottom-text">©2023</p>
                <p class="font-police-medium bottom-text">Tous droits réservés</p>
                <p class="font-police-medium bottom-text">Oscar Dubuis</p>
            </div>
        </div>
    </footer>
</template>
<style scoped>
    footer {
        width: 100%;
        height: 250px;
        background-color: var(--color-black);
    }
    
    .footer-content{
        width: calc(100% - 40px);
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: 100%;
    }

    .footer-header{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .footer-header div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-header div:first-child{
        margin-right: 80px;
    }

    .align-right{
        text-align: right;
    }

    h2, a, p {
        color: var(--color-white);
        text-decoration: none;
    }

    h2 {
        font-size: 1.4em;
        font-weight: 350;
        padding: 20px 0;
    }

    a{
        font-size: 0.8em;
        font-weight: 300;
        letter-spacing: 1.2px;
        line-height: 250%;
        transition: 0.2s linear;
    }

    a:hover{
        filter: brightness(60%);
    }

    .footer-bottom{
        color: var(--color-white);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        margin: auto 0 0 0;
        border-top: 1px solid var(--color-light-gray);
    }

    .bottom-text{
        font-size: 0.7em;
        color: var(--color-white);
        margin: 0 5px;
    }

    @media all and (max-width: 700px) {
        footer{
            height: auto;
        }
        .footer-header{
            flex-direction: column;
            margin-bottom: 20px;
        }
    }
</style>