<template>
    <article>
        <img :src="require(`~/assets/img/staff/${member.src}`)" alt="">
        <p v-if="desc" class="font-police-medium name">{{member.name}}</p>
        <p v-if="desc || member.isComite" class="font-police-regular function">{{member.function}}</p>
    </article>
</template>
<script>
export default {
    props: {
        member: Object,
        desc: {
            type: Boolean,
            default: true
        }
    }
}
</script>
<style scoped>
    article{
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        margin: 20px;
    }


    img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        filter: saturate(90%) sepia(50%);
    }


    .name{
        font-size: 1em;
        color: #333;
        margin: 20px 0 10px 0;
    }

    .function{
        font-size: 0.8em;
        color: #999;
        font-weight: 200;
        letter-spacing: 0.6px;
    }

    @media all and (max-width: 900px){
        article{
            transform: scale(0.8);
            margin: 10px auto;
        }

        article:first-child{
            margin-right: auto;
        }
    }
</style>