<template>
    <nav>
        <div class="nav-content">
            <nuxt-link to="/"><Logo color="turquoise" class="logo" /></nuxt-link>
            <div class="link-block">
                <nuxt-link class="font-police-semi-bold important" to="/drapeau">Fête du drapeau</nuxt-link>
                <nuxt-link class="font-police-semi-bold" to="/societe">Notre société</nuxt-link>
                <nuxt-link class="font-police-semi-bold" to="/membres">Nos membres</nuxt-link>
                <nuxt-link class="font-police-semi-bold" to="/contact">Contact</nuxt-link>
            </div>
        </div>
    </nav>
</template>
<script>
import Logo from '~/components/utils/Logo.vue'

export default {
    components: {
        Logo
    }
}
</script>
<style scoped>
    nav {
        height: 80px;
        width: 100%;
        background-color: var(--color-white);
        box-shadow: 0 5px 15px #eee;
    }

    nav, .nav-content, .link-block{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-content{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
    }

    a{
        text-decoration: none;
        font-size: 1em;
        color: var(--color-turquoise);
        padding: 0 20px;
        letter-spacing: 0.2px;
    }

    .important{
        background-color: var(--color-light-brown);
        padding: 10px 20px;
        border-radius: 10px;
        color: var(--color-white);
    }

    .logo{
        height: 70px;
        width: auto;
    }

    .link-block{
        justify-content: space-around;
        width: auto;
    }
</style>