<template>
    <nav>
        <div class="nav-content">
            <nuxt-link to="/"><Logo color="turquoise" class="logo" /></nuxt-link>
            <div class="burger" @click="toggleBurger()">
                <span class="first"></span>
                <span class="secondary"></span>
                <span class="first"></span>
            </div>
            <div class="link-block list">
                <nuxt-link @click.native="toggleBurger()" class="font-police-semi-bold important" to="/drapeau">Fête du drapeau</nuxt-link>
                <nuxt-link @click.native="toggleBurger()" class="font-police-semi-bold" to="/societe">Notre société</nuxt-link>
                <nuxt-link @click.native="toggleBurger()" class="font-police-semi-bold" to="/membres">Nos membres</nuxt-link>
                <nuxt-link @click.native="toggleBurger()" class="font-police-semi-bold" to="/contact">Contact</nuxt-link>
            </div>
        </div>
    </nav>
</template>
<script>
import Logo from '~/components/utils/Logo.vue'

export default {
    components: {
        Logo
    },
    data () {
        return {
            burger: false
        }
    },
    methods: {
        toggleBurger () {
            document.querySelector('.list').classList.toggle('openMenu')
            document.querySelector('.burger').classList.toggle('active')
        }
    }
}
</script>
<style scoped>
    nav{
        height: 70px;
        width: 100%;
        background-color: white;
        box-shadow: 0 5px 15px #eee;
        position: sticky;
        top: 0;
        z-index: 4;
    }

    nav, .nav-content{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-content{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        position: relative;
    }

    a{
        text-decoration: none;
        font-size: 0.9em;
        color: var(--color-turquoise);
        padding: 0 10px;
        letter-spacing: 0.2px;
        width: max-content;
        transition: .2s linear;
        border-bottom: 3px solid transparent;
    }

    .link-block a.nuxt-link-exact-active{
        border-bottom: 3px solid var(--color-light-brown);
        padding: 0 0;
        color: var(--color-light-brown);
        margin: 0 0 0 20px;
    }

    .logo{
        height: 60px;
        width: auto;
        margin-left: 15px;
    }

    .link-block{
        position: absolute;
        background-color: var(--color-white);
        box-shadow: 0 5px 15px #eee;
        top: 65px;
        width: calc(100% - 40px);
        height: auto;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        display: none;
    }

    .openMenu{
        display: flex;
    }

    .burger{
        display: flex;
        flex-direction: column;
        height: 60px;
        width: 40px;
        justify-content: center;
        align-items: left;
        margin-right: 20px;
        gap: 5px;
        cursor: pointer;
    }

    .first{
        width: 40px;
        height: 4px;
        background-color: var(--color-light-gray);
        border-radius: 5px;
        transition: .2s linear;
    }

    .secondary{
        width: 30px;
        height: 4px;
        background-color: var(--color-light-gray);
        border-radius: 5px;
        transition: .2s linear;
    }

    .active .first:first-child{
        transform: translateY(9px) rotate(45deg);
    }

    .active .first:last-child{
        transform: translateY(-9px) rotate(-45deg);
    }

    .active .secondary{
        opacity: 0;
    }
</style>