@font-face {
    font-family: "lexend-bold";
    src: url("../fonts/Lexend-Bold.ttf");
}
@font-face {
    font-family: "lexend-semi-bold";
    src: url("../fonts/Lexend-SemiBold.ttf");
}
@font-face {
    font-family: "lexend-medium";
    src: url("../fonts/Lexend-Medium.ttf");
}
@font-face {
    font-family: "lexend-regular";
    src: url("../fonts/Lexend-Regular.ttf");
}

@font-face {
    font-family: "lexend-light";
    src: url("../fonts/Lexend-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-police-bold{
    font-family: "lexend-bold", Helvetica, sans-serif;
}
.font-police-semi-bold{
    font-family: "lexend-semi-bold", Helvetica, sans-serif;
}
.font-police-medium{
    font-family: "lexend-medium", Helvetica, sans-serif;
}
.font-police-regular{
    font-family: "lexend-regular", Helvetica, sans-serif;
}
.font-police-light{
    font-family: "lexend-light", Helvetica, sans-serif;
}

:root{
    --color-dark-blue: #293553;
    --color-turquoise: #214761;
    --color-black: #201F1F;
    --color-gray: #333333;
    --color-light-gray: #888888;
    --color-extra-light-gray: #ddd;
    --color-white: #FFFFFF;
    --color-background: #F9FAFA;
    --color-light-brown: #E7AB79;
    --color-turquoise: #214761;
    --color-yellow: #E4D554;
    --color-red: #C14B3D;
    --color-bordeaux: #7D444F;
    --color-dark-bordeaux: #552C31;
    --color-green: #A6CA95;
}

.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    width: calc(100% - 40px);
    overflow: hidden;
}