<template>
    <nuxt-link :to="url">
        <article>
            <font-awesome-icon class="icon-format" :icon="['fas', icon]" />
            <p class="font-police">{{name}}</p>
        </article>
    </nuxt-link>
</template>
<script>
export default {
    props: {
        url: String,
        icon: String,
        name: String
    }
}
</script>
<style scoped>
    a{
        text-decoration: none;
        width: max-content;
        color: #222;
    }

    article{
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        border: 0.5px solid #ddd;
        box-shadow: 0 5px 10px #ddd;
        border-radius: 10px;
        transition: .2s linear;
        cursor: pointer;
    }

    article:hover{
        background-color: #f1f1f1;
    }

    .icon-format{
        font-size: 1.8em;
    }

    p{
        font-size: 0.8em;
        font-weight: 200;
        letter-spacing: 1.5px;
        margin-top: 10px;
        color: #666;
    }
</style>