<template>
    <section class="container">
        <p class="font-police title">Services</p>
        <div class="options-list">
            <OptionsWidget url="/admin/doodle" name="Sondage" icon="poll" />
        </div>
    </section>
</template>
<script>
import OptionsWidget from '~/components/panel/OptionsWidget.vue'
export default {
    components: {
        OptionsWidget
    }
}
</script>
<style scoped>
    .container{
        width: calc(100% - 20px);
        height: auto;
        min-height: 100px;
        border: 1px solid #eee;
        border-radius: 10px;
        margin: 20px auto;
    }

    .title{
        margin: 20px;
        font-size: 1.1em;
        color: #666;
        letter-spacing: 1px;
        font-weight: 200;
    }

    .options-list{
        width: calc(100% - 40px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 10px;
    }

    @media all and (max-width: 900px) {
        .container{
            width: 100%;
            border: none;
            margin-top: 60px;
        }
    }
</style>