<template>
    <font-awesome-icon class="icon-format" :class="hover ? 'hover-active' : ''" :icon="['fas', icon]" />
</template>
<script>
export default {
    'props': {
        'hover': Boolean,
        'icon': String
    }
}
</script>
<style scoped>
    .icon-format{
        font-size: 1em;
        transition: all 0.1s linear;
        cursor: pointer;
    }

    .hover-active:hover{
        filter: brightness(80%);
    }
</style>
