<template>
    <div class="condition-container">
        <Icon icon="info" class="icon" />
        <TextComponent class="subtext" :text="text" />
    </div>
</template>
<script>
import Icon from '~/components/utils/Icon.vue'
import TextComponent from '~/components/utils/titles/TextComponent.vue'

export default {
    components: {
        Icon,
        TextComponent
    },
    props: {
        text: String
    }
}
</script>
<style scoped>
    .condition-container{
        width: 100%;
        max-width: 350px;
        border: 1px solid var(--color-turquoise);
        border-radius: 10px;
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .icon {
        color: var(--color-turquoise);
        border: 1px solid var(--color-turquoise);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 0.5em;
        transform: scale(0.7);
        padding: 5px;
        position: absolute;
        background-color: white;
        top: -15px;
        left: -15px;
    }

    p{
        font-size: 0.85em;
        color: var(--color-turquoise);
    }
</style>