<template>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="889.000000pt" height="1260.000000pt" viewBox="0 0 889.000000 1260.000000"
    preserveAspectRatio="xMidYMid meet">

    <g transform="translate(0.000000,1260.000000) scale(0.100000,-0.100000)"
    :fill="`var(--color-${color})`" stroke="none">
    <path d="M6885 12213 c-27 -21 -199 -103 -216 -103 -8 0 -27 14 -42 31 -27 31
    -27 31 -101 24 -132 -13 -133 -13 -174 -85 -37 -63 -40 -65 -92 -77 -30 -7
    -73 -15 -95 -18 -32 -5 -51 -18 -97 -67 l-56 -61 -29 31 c-25 27 -35 31 -93
    34 l-65 3 -80 -107 c-108 -146 -101 -140 -135 -98 l-29 35 -11 -30 c-10 -26
    -66 -174 -92 -244 l-8 -23 -34 26 c-19 14 -37 26 -40 26 -3 0 -6 -53 -6 -118
    l0 -119 -37 -24 c-58 -38 -71 -71 -103 -265 -36 -220 -46 -313 -62 -569 -18
    -293 -17 -361 9 -411 12 -22 27 -45 35 -51 7 -6 144 -52 303 -103 286 -92 291
    -93 390 -93 83 0 111 4 165 25 36 14 110 42 165 63 123 47 190 88 278 174 92
    89 120 128 221 317 101 189 124 220 231 311 l80 68 -52 10 c-28 5 -55 13 -59
    17 -10 11 40 89 95 150 l50 55 -24 36 c-14 20 -25 41 -25 46 0 6 18 50 40 97
    22 48 40 90 40 95 0 4 -16 13 -35 20 -19 7 -35 16 -35 19 0 3 31 64 70 136 38
    71 70 132 70 137 0 4 -10 7 -22 7 -87 1 -103 49 -54 162 9 21 16 42 16 47 0 5
    -22 23 -50 41 -27 18 -50 36 -50 41 0 5 23 49 50 99 28 50 50 92 50 95 0 10
    -37 5 -83 -11 -44 -15 -49 -15 -84 3 -33 16 -39 24 -45 63 -3 25 -7 69 -7 98
    -1 56 -5 60 -36 35z"/>
    <path d="M4620 11474 c-47 -29 -89 -54 -94 -54 -4 0 -31 20 -58 45 -28 25 -53
    45 -57 45 -3 0 -31 -35 -61 -76 -30 -42 -61 -80 -67 -86 -9 -7 -31 -4 -73 11
    -45 15 -62 17 -65 8 -3 -7 -21 -56 -40 -110 -53 -148 -46 -140 -119 -132 l-62
    6 -12 -63 c-16 -87 -56 -205 -77 -228 -10 -11 -34 -23 -54 -26 -50 -9 -88 -30
    -102 -56 -22 -41 -3 -105 101 -325 120 -254 155 -346 165 -428 4 -33 14 -72
    21 -86 26 -53 58 -52 260 8 l159 47 265 0 c240 1 272 -1 341 -20 l77 -21 7
    325 c4 178 4 364 1 411 -14 163 -87 466 -114 466 -6 0 -29 -21 -51 -48 -22
    -26 -42 -44 -44 -40 -3 5 -9 61 -13 126 l-7 118 -42 -41 -43 -42 -7 68 c-19
    171 -31 248 -40 250 -5 1 -48 -22 -95 -52z"/>
    <path d="M6690 9904 c-153 -139 -290 -245 -360 -278 -62 -29 -70 -31 -165 -27
    -55 2 -140 4 -190 5 l-90 1 -7 -85 c-8 -111 -26 -207 -44 -243 -18 -35 -68
    -57 -128 -57 l-44 0 -7 -65 c-8 -76 7 -160 41 -226 25 -50 75 -98 102 -100 9
    -1 60 -2 112 -3 138 -2 173 -23 390 -230 179 -170 229 -197 368 -197 109 0
    334 57 346 87 8 22 -17 66 -58 102 -20 17 -36 33 -36 36 0 2 23 12 51 21 43
    15 53 23 72 61 11 24 25 44 30 44 5 0 46 -20 91 -45 l83 -45 -5 78 c-5 97 4
    110 68 87 56 -20 73 -19 95 5 21 24 23 91 4 175 -19 85 -7 118 72 199 38 38
    69 72 69 74 0 2 -36 1 -80 -3 -77 -7 -80 -6 -80 14 0 17 92 162 152 240 10 13
    18 27 18 30 0 4 -47 15 -105 25 -58 11 -105 21 -105 23 0 2 10 17 22 34 38 51
    23 56 -267 89 -143 16 -265 30 -271 30 -7 0 -19 47 -29 115 -9 63 -18 115 -19
    115 0 0 -44 -39 -96 -86z"/>
    <path d="M3633 9871 l5 -102 -36 5 c-21 3 -59 7 -87 8 l-50 2 4 -39 c12 -110
    15 -106 -69 -128 -41 -11 -77 -21 -79 -23 -2 -2 5 -17 16 -33 l19 -30 189 101
    c178 94 239 125 332 163 48 20 43 25 -121 110 l-129 68 6 -102z"/>
    <path d="M4410 9875 c-36 -15 -132 -44 -215 -66 -185 -50 -285 -91 -442 -180
    -392 -224 -889 -407 -1283 -473 l-135 -22 1 -107 c1 -131 18 -179 81 -237 44
    -42 47 -42 100 -37 41 4 100 29 256 105 216 107 290 135 543 205 100 28 208
    67 285 102 68 32 140 58 159 59 31 1 37 -3 52 -34 28 -59 41 -200 35 -375 -11
    -267 -38 -395 -157 -730 -78 -218 -81 -233 -77 -295 6 -72 39 -172 67 -200 10
    -10 44 -22 76 -28 33 -5 119 -37 193 -71 74 -33 136 -59 138 -57 3 2 -26 77
    -62 167 -46 112 -67 176 -67 205 0 23 16 86 36 141 140 392 200 673 199 938 0
    171 -23 280 -88 428 -20 45 -39 89 -42 98 -9 30 204 114 382 150 307 63 598
    18 906 -140 74 -38 162 -78 195 -90 83 -28 193 -46 205 -34 15 15 58 258 59
    326 0 51 -3 58 -23 66 -34 13 -409 96 -588 130 -252 48 -424 71 -579 76 -139
    5 -148 4 -210 -20z"/>
    <path d="M4590 9509 c-88 -9 -205 -45 -312 -97 l-77 -37 70 -213 c38 -118 74
    -222 79 -232 22 -40 74 -62 260 -110 287 -73 311 -74 325 -12 8 38 29 60 116
    124 87 64 121 83 167 93 31 6 32 9 32 53 0 61 -45 155 -96 204 -46 43 -259
    183 -318 208 -51 22 -148 30 -246 19z"/>
    <path d="M5240 9365 c0 -20 83 -361 90 -368 10 -11 188 90 200 114 13 23 13
    75 0 99 -6 10 -65 48 -133 84 -135 72 -157 82 -157 71z"/>
    <path d="M5436 8958 c-20 -31 -35 -102 -36 -168 0 -74 126 -463 179 -550 83
    -138 393 -487 424 -478 20 7 19 58 -3 151 -30 131 -29 134 33 74 40 -40 71
    -60 132 -84 87 -34 155 -50 155 -37 0 5 -20 62 -45 127 -25 66 -45 120 -45
    122 0 1 41 -12 90 -31 105 -40 136 -43 145 -13 8 23 -3 116 -16 141 -5 9 -92
    66 -192 127 -286 171 -359 230 -544 432 -126 140 -207 209 -241 209 -12 0 -28
    -10 -36 -22z"/>
    <path d="M5209 8916 c-31 -30 -73 -83 -93 -119 -85 -153 -230 -321 -375 -435
    -47 -38 -200 -157 -338 -266 -139 -108 -253 -199 -253 -202 0 -11 257 9 278
    23 47 29 312 262 436 382 153 150 208 220 275 349 56 111 134 298 129 313 -2
    6 -29 -14 -59 -45z"/>
    <path d="M1033 7841 c-26 -12 -52 -35 -70 -62 -25 -37 -28 -52 -28 -119 0 -67
    3 -82 28 -119 37 -55 100 -86 159 -76 50 9 112 63 129 112 14 45 15 121 0 165
    -20 61 -99 119 -161 118 -8 0 -34 -9 -57 -19z"/>
    <path d="M5500 7731 c-113 -40 -165 -138 -158 -295 6 -131 32 -184 197 -391
    47 -58 54 -80 34 -100 -17 -18 -112 -20 -213 -5 -85 12 -114 0 -118 -53 -7
    -85 92 -224 191 -268 114 -51 405 -17 488 58 115 104 65 339 -135 628 -30 44
    -51 81 -46 83 4 2 67 -8 139 -22 72 -15 137 -26 144 -26 10 0 11 22 4 103 -10
    125 -31 175 -88 216 -103 75 -328 112 -439 72z"/>
    <path d="M2885 7705 c-31 -30 -31 -48 -4 -238 21 -142 21 -153 6 -244 -10 -64
    -26 -116 -49 -161 -38 -77 -71 -102 -115 -87 -46 16 -62 63 -69 208 -4 70 -10
    127 -14 127 -12 0 -78 -153 -115 -263 -67 -202 -85 -382 -51 -499 26 -91 67
    -136 171 -188 88 -44 92 -45 185 -45 111 0 151 15 216 82 127 130 202 455 176
    755 -14 158 -30 229 -77 324 -49 101 -137 218 -179 238 -45 21 -52 20 -81 -9z"/>
    <path d="M6425 7714 c-115 -18 -179 -56 -218 -128 -19 -36 -22 -56 -22 -161 0
    -141 7 -159 111 -289 73 -91 101 -143 86 -158 -6 -6 -54 -11 -109 -13 -54 -1
    -112 -8 -129 -14 -59 -22 -71 -95 -26 -157 63 -87 190 -180 314 -231 76 -31
    160 -34 242 -8 109 34 216 132 230 209 13 70 -7 108 -122 230 -117 123 -168
    199 -189 279 -23 90 3 137 77 137 30 0 52 -12 123 -70 l86 -69 22 35 c20 32
    20 40 9 77 -43 150 -136 265 -247 307 -56 21 -178 33 -238 24z"/>
    <path d="M4740 7694 c-193 -41 -324 -177 -404 -419 -55 -165 -69 -234 -63
    -320 17 -252 153 -364 405 -335 197 24 269 54 372 160 114 116 159 218 144
    331 -10 75 -14 76 -87 26 -100 -69 -269 -116 -344 -95 -32 9 -93 53 -83 60 3
    2 45 16 93 32 162 54 246 104 293 176 36 55 36 126 -2 239 -31 94 -71 144
    -124 155 -50 9 -128 6 -200 -10z"/>
    <path d="M2013 7525 c-125 -28 -291 -134 -371 -237 -104 -135 -129 -243 -98
    -411 34 -179 105 -342 187 -427 85 -89 163 -108 331 -80 95 16 139 39 182 96
    77 101 114 323 88 531 l-7 51 -94 -84 c-101 -91 -232 -184 -260 -184 -27 0
    -60 28 -81 70 -11 22 -20 41 -20 44 0 3 55 47 123 98 143 108 246 208 278 269
    17 33 23 61 23 109 0 79 -22 126 -67 145 -52 21 -146 25 -214 10z"/>
    <path d="M7368 7530 c-107 -20 -232 -185 -279 -368 -26 -102 -26 -253 0 -327
    56 -158 190 -244 416 -267 302 -30 534 116 612 385 23 80 23 134 1 148 -20 13
    -82 -14 -144 -61 -90 -69 -136 -84 -237 -77 -74 4 -164 29 -207 57 -35 23 51
    80 209 138 98 36 113 56 115 158 1 68 -2 84 -22 111 -52 73 -173 113 -332 112
    -52 -1 -112 -5 -132 -9z"/>
    <path d="M3581 7479 c-78 -31 -106 -74 -151 -236 -50 -178 -70 -328 -94 -711
    -5 -82 -5 -83 17 -76 66 21 133 84 165 157 22 50 77 100 127 117 21 7 63 10
    94 8 69 -5 113 -33 142 -91 20 -38 21 -49 13 -166 -14 -199 -4 -301 39 -386
    28 -58 46 -75 78 -75 52 0 93 91 140 309 27 125 37 428 19 597 -22 215 -62
    324 -154 422 -62 66 -106 95 -185 122 -65 22 -205 27 -250 9z"/>
    <path d="M1220 7185 c-40 -10 -45 -14 -42 -36 2 -13 30 -163 62 -334 94 -499
    163 -942 176 -1135 11 -159 -36 -430 -96 -556 -38 -79 -113 -161 -180 -198
    -64 -35 -157 -45 -227 -25 -65 18 -133 86 -163 165 -32 83 -39 262 -15 394 10
    52 20 124 22 160 6 73 -11 180 -29 191 -25 15 -67 -23 -132 -121 -83 -124
    -120 -203 -148 -318 -41 -163 -22 -503 42 -758 40 -158 131 -293 240 -357 125
    -73 334 -76 516 -7 141 52 216 105 289 202 219 291 272 774 154 1393 -38 202
    -103 462 -169 678 -73 243 -219 640 -244 663 -8 8 -23 8 -56 -1z"/>
    <path d="M4670 6390 c-41 -11 -113 -38 -159 -61 -151 -75 -286 -233 -348 -411
    -35 -98 -42 -245 -18 -338 61 -236 264 -416 530 -471 108 -22 168 -23 258 -4
    237 50 454 280 528 560 30 115 31 266 1 361 -52 168 -170 279 -373 350 -104
    37 -308 44 -419 14z"/>
    <path d="M7605 6367 c-85 -30 -97 -31 -230 -31 -77 0 -221 9 -320 19 -184 19
    -509 26 -557 12 -33 -9 -52 -40 -42 -69 9 -29 96 -120 158 -166 27 -20 86 -55
    130 -77 l81 -41 -1 -44 c0 -27 -40 -171 -100 -360 -86 -275 -99 -324 -99 -386
    0 -88 11 -104 74 -104 94 0 199 72 269 184 101 159 160 314 187 492 25 170 23
    164 52 164 42 0 223 39 308 67 182 59 318 151 365 248 25 52 18 75 -32 101
    -58 30 -142 27 -243 -9z"/>
    <path d="M5962 6354 c-183 -49 -284 -158 -332 -356 -29 -122 -26 -169 19 -301
    21 -63 44 -141 51 -173 7 -33 14 -63 17 -67 3 -4 22 12 44 37 44 50 118 90
    196 106 132 28 244 -66 274 -230 11 -66 6 -165 -17 -320 l-5 -35 30 35 c118
    135 291 415 334 538 55 161 45 348 -25 458 -36 57 -134 153 -235 231 -113 86
    -225 111 -351 77z"/>
    <path d="M3400 6322 c-63 -31 -161 -102 -305 -222 -103 -85 -196 -151 -229
    -164 -13 -4 -40 6 -85 32 -138 82 -304 129 -416 118 -200 -20 -344 -196 -390
    -479 -36 -221 -29 -444 25 -906 20 -168 34 -249 44 -259 22 -23 62 -7 111 44
    50 51 67 92 120 284 58 211 79 241 174 248 36 3 79 -2 114 -12 47 -14 57 -21
    67 -48 8 -20 16 -134 21 -293 10 -321 28 -404 107 -478 25 -24 33 -26 55 -18
    80 31 175 260 297 712 29 108 56 202 59 208 7 11 136 51 164 51 16 0 62 -142
    77 -240 14 -94 12 -244 -5 -343 -20 -118 -56 -224 -136 -414 -70 -163 -103
    -270 -115 -374 -5 -45 -2 -65 15 -105 38 -86 69 -104 108 -61 63 68 267 565
    383 932 169 534 221 913 170 1250 -45 307 -111 448 -249 537 -57 36 -108 36
    -181 0z"/>
    <path d="M5405 5048 c-2 -7 -9 -67 -15 -132 -12 -138 -39 -226 -94 -310 -53
    -79 -97 -87 -135 -25 -34 55 -102 238 -108 289 -4 38 -10 50 -22 50 -20 0
    -109 -55 -129 -79 -17 -21 -9 -299 13 -426 28 -159 97 -272 191 -311 44 -19
    175 -18 249 1 236 61 327 192 311 445 -6 106 -38 243 -69 305 -40 80 -182 222
    -192 193z"/>
    <path d="M4187 4960 c-89 -23 -172 -91 -217 -181 -18 -34 -21 -55 -18 -106 3
    -53 13 -81 57 -166 95 -183 175 -285 278 -353 48 -32 53 -38 38 -47 -10 -5
    -48 -12 -85 -15 -85 -6 -120 9 -259 112 -124 91 -147 95 -170 33 -41 -107 25
    -318 127 -408 54 -47 156 -82 289 -98 221 -27 378 41 456 198 58 116 73 292
    32 371 -21 41 -59 76 -155 145 -74 52 -168 140 -159 149 2 3 60 -20 129 -51
    156 -69 182 -74 204 -41 13 20 34 130 36 185 0 27 -148 144 -252 198 -129 68
    -248 95 -331 75z"/>
    <path d="M5792 4847 c-6 -7 -11 -60 -11 -122 0 -171 -28 -509 -61 -745 -5 -36
    -10 -75 -10 -88 0 -22 1 -22 33 -6 17 9 59 45 92 80 l61 64 75 0 c86 0 92 -4
    166 -115 49 -72 140 -161 186 -180 50 -21 131 -29 155 -16 31 17 49 112 30
    160 -21 54 -98 166 -173 255 -37 42 -65 79 -63 80 1 1 39 23 83 49 104 61 190
    129 210 167 15 28 15 36 0 92 -8 34 -24 76 -35 94 -72 115 -256 195 -526 228
    -157 19 -198 20 -212 3z"/>
    <path d="M6718 4430 c-34 -21 -43 -77 -40 -265 3 -218 16 -410 43 -610 50
    -378 26 -761 -58 -918 -42 -79 -226 -261 -448 -446 -110 -91 -243 -202 -296
    -246 -137 -115 -170 -156 -183 -225 -9 -52 3 -64 55 -56 87 14 258 78 424 161
    289 143 518 299 690 470 133 133 170 196 209 363 56 236 70 364 70 652 0 230
    -3 282 -22 395 -52 299 -150 576 -247 690 -32 39 -34 40 -106 42 -41 2 -82 -1
    -91 -7z"/>
    <path d="M5250 3714 c-140 -24 -221 -66 -305 -155 -116 -124 -144 -302 -79
    -498 73 -220 261 -381 444 -381 163 0 371 142 454 311 48 99 60 164 45 259
    -39 258 -217 448 -444 473 -22 2 -74 -2 -115 -9z"/>
    <path d="M5981 3661 c-43 -43 -52 -144 -38 -411 l9 -155 -46 -220 c-25 -121
    -51 -237 -56 -257 -6 -21 -85 -187 -176 -369 -91 -182 -163 -333 -161 -335 9
    -10 141 65 225 128 188 142 414 385 469 505 33 71 79 257 93 378 19 151 15
    372 -9 483 -31 146 -79 210 -191 253 -64 24 -95 24 -119 0z"/>
    <path d="M4365 3579 c-380 -27 -529 -46 -635 -81 -53 -17 -77 -33 -127 -83
    -71 -71 -93 -128 -112 -284 -34 -274 -157 -747 -256 -982 -33 -79 -34 -85 -18
    -97 25 -19 82 -9 151 24 75 36 201 163 272 276 30 48 57 87 60 88 3 0 18 -26
    35 -57 92 -176 245 -391 375 -527 136 -142 204 -187 552 -359 172 -85 330
    -160 351 -167 21 -6 54 -9 76 -5 36 6 111 57 111 75 0 5 -75 54 -167 109 -276
    164 -385 250 -506 401 -137 171 -250 417 -290 628 l-7 32 122 61 c142 71 253
    144 293 191 72 85 101 219 75 350 -31 160 -177 422 -231 417 -8 -1 -63 -5
    -124 -10z"/>
    <path d="M6747 2020 c-125 -32 -199 -120 -255 -301 -66 -217 -17 -386 134
    -456 104 -47 360 -67 498 -38 89 19 185 71 211 116 22 38 27 153 7 200 l-11
    27 -98 -25 c-118 -29 -295 -42 -318 -23 -37 31 -11 63 126 154 152 101 188
    147 158 204 -17 32 -112 94 -188 123 -63 24 -203 34 -264 19z"/>
    <path d="M5775 1469 c-131 -17 -204 -48 -278 -117 -113 -106 -154 -283 -108
    -465 33 -125 96 -224 199 -310 213 -178 467 -163 668 37 210 210 218 505 20
    701 -126 125 -306 180 -501 154z"/>
    </g>
    </svg>
</template>
<script>
export default {
    props: {
        color: String
    }
}
</script>