<template>
    <h1 class="font-police-semi-bold page-title">{{title}}</h1>
</template>
<script>
export default {
    props: {
        title: String
    }
}
</script>
<style scoped>
    .page-title{
        font-size: 2.1em;
        font-weight: 330;
        color: var(--color-turquoise);
        letter-spacing: 1px;
        padding: 40px 0;
    }

    @media all and (max-width: 900px){
        .page-title{
            font-size: 1.6em;
            padding-bottom: 20px;
        }
    }
</style>