<template>
    <picture>
        <source :srcset="webp" type="image/webp">
        <source :srcset="png" type="image/png">
        <img :src="`${cdn}${src}`" :alt="alt">
    </picture>
</template>

<script>

const cdn = 'https://cdn-jeunessedemont.s3.eu-central-2.amazonaws.com/img/';

export default {
    'props': {
        'alt': {
            type: String,
            default: ''
        },
        'height': {
            type: String,
            default: ''
        },
        'size': {
            type: Array,
            default: () => []
        },
        'src': {
            type: String,
            default: ''
        }
    },
    data () {
        return {
            cdn
        };
    },
    'computed': {
        png () {
            let a = '';
            for (const s in this.size) {
                if (Object.prototype.hasOwnProperty.call(this.size, s)) {
                    const imageRequest = JSON.stringify({
                        'bucket': 'cdn.mineofwar.com',
                        'edits': {
                            'resize': {
                                'fit': 'inside',
                                'height': this.size[s],
                                'width': this.size[s]
                            }
                        },
                        'key': `image/${this.src}`,
                        'outputFormat': 'png'
                    });

                    a += `${cdn}${btoa(imageRequest)} ${this.size[s]}w, `;
                }
            }

            return a;
        },
        webp () {
            let a = '';
            for (const s in this.size) {
                if (Object.prototype.hasOwnProperty.call(this.size, s)) {
                    const imageRequest = JSON.stringify({
                        'bucket': 'cdn.mineofwar.com',
                        'edits': {
                            'resize': {
                                'fit': 'inside',
                                'height': this.size[s],
                                'width': this.size[s]
                            }
                        },
                        'key': `image/${this.src}`,
                        'outputFormat': 'webp'
                    });

                    a += `${cdn}${btoa(imageRequest)} ${this.size[s]}w, `;
                }
            }

            return a;
        }
    }
}
</script>
