<template>
    <article>
        <div class="header">
            <div class="icon">
                <font-awesome-icon class="icon-format" :icon="['fas', icon]" />
            </div>
            <p class="title font-police">{{title}}</p>
        </div>
        <div class="body">
            <div>
                <p class="font-police text" v-for="value in list" :key="value">{{value}}</p>
            </div>
        </div>
    </article>
</template>
<script>
import Button from '~/components/Button.vue'
export default {
    components: {
        Button
    },
    props: {
        icon: String,
        title: String,
        list: Array
    }
}
</script>
<style scoped>
    article{
        width: 300px;
        height: 180px;
        border: 1px solid #eee;
        box-shadow: 0 5px 10px #eee;
        border-radius: 10px;
        margin: 10px;
    }

    .header{
        width: calc(100% - 30px);
        padding: 15px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .body, .body div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90px;
    }

    .bottom{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title{
        font-size: 1.25em;
        color: #444;
        letter-spacing: 1px;
        margin-left: 20px;
    }
    
    .text{
        font-size: 0.8em;
        color: #999;
        font-weight: 200;
        line-height: 150%;
        letter-spacing: 1px;
    }

    .icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D2ECF5;
    }

    .icon-format{
        color: white;
        font-size: 1.4em;
    }
</style>