<template>
    <div class="main-container">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-MTB1NJ21VZ"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-MTB1NJ21VZ');
        </script>
        <DesktopNavigation class="desktop"></DesktopNavigation>
        <MobileNavigation class="mobile"></MobileNavigation>
        <div class="page-content">
            <Nuxt></Nuxt>
        </div>
        <SponsorBanner />
        <Footer></Footer>
    </div>
</template>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MTB1NJ21VZ"></script>
<script>
import DesktopNavigation from '~/components/navigation/DesktopNavigation.vue'
import MobileNavigation from '~/components/navigation/MobileNavigation.vue'
import Footer from '~/components/Footer.vue'
import SponsorBanner from '~/components/sponsor/SponsorBanner.vue'

export default ({
    components: {
        DesktopNavigation,
        MobileNavigation,
        Footer,
        SponsorBanner
    }
})
</script>
<style scoped>
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-height: 100vh;
    }

    .page-content{
        width: 100%;
        margin: 0 auto;
        flex-grow: 1;
    }

    body{
        height: 100%;
        background-color: var(--color-background);
    }

    .desktop{
        display: flex;
    }

    .mobile{
        display: none;
    }

    @media all and (max-width: 900px){
        .desktop{
            display: none;
        }

        .mobile{
            display: flex;
        }
    }
</style>
<style>
    *{
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
</style>
