<template>
    <div class="container">
        <PageTitle title="Contact" />
        <div class="content">
            <Widget v-for="widget in widgets" :key="widget.id" :list="widget.list" :title="widget.title" :icon="widget.icon" />
        </div>
    </div>
</template>
<script>
import Widget from '~/components/contact/Widget.vue'
import PageTitle from '~/components/utils/PageTitle.vue'

export default {
    components: {
        Widget,
        PageTitle
    },
    layout: 'default',
    head () {
        return {
            title: 'Jeunesse de Mont-sur-Rolle - Contact'
        }
    },
    data () {
        return {
            widgets: [
                {
                    id: 1,
                    title: 'Par couriel',
                    list: ['Axel Maurer', 'Route de lÉtraz 2', '1185 Mont-sur-Rolle'],
                    icon: 'envelope-open-text'
                },
                {
                    id: 2,
                    title: 'Par mail',
                    list: ['jeunessedemont@gmail.com'],
                    icon: 'envelope'
                }
            ]
        }
    }
}
</script>
<style scoped>
    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>