<template>
    <div class="container">
        <section class="main-section">
            <div class="header-block">
                <div class="text-block">
                    <h1 class="font-police-semi-bold">Jeunesse de <span>Mont-sur-Rolle</span></h1>
                    <p class="font-police-semi-bold">Nous vous souhaitons la bienvenue sur notre site. Vous y trouverez toutes les informations sur notre société.</p>
                </div>
                <div class="img-block">
                    <img :src="require('~/assets/img/jeunesse_group.jpg')" alt="">
                </div>
            </div>
        </section>
        <section class="news">
            <CurrentManif />
        </section>
    </div>
</template>
<script>
import CurrentManif from '~/components/homepage/CurrentManif.vue'
export default {
    components: {
        CurrentManif
    }
};
</script>
<style scoped>
    section {
        height: auto;
        width: 100%;
    }

    .header-block{
        width: calc(100% - 20px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 80px auto;
        padding: 0 10px;
    }

    .text-block{
        width: 50%;
        max-width: 500px;
    }

    h1{
        display: flex;
        flex-direction: column;
        justify-content: left;
        font-size: 1.2em;
        font-weight: 200;
        color: #999;
    }

    span{
        font-size: 2.8em;
        font-weight: 600;
        color: #214761;
        letter-spacing: 1px;
    }

    p{
        font-size: 1em;
        color: #666;
        font-weight: 200;
        letter-spacing: 0.4px;
        line-height: 150%;
        margin-top: 30px;
    }

    .img-block{
        width: 50%;
        text-align: right;
    }

    img{
        width: calc(100% - 80px);
        min-width: 450px;
        object-fit: cover;
        object-position: center;
        border-radius: 30px;
        margin: 0 0 0 auto;
        height: 300px;
    }

    @media all and (max-width: 900px){
        h1{
            font-size: 1.2em;
        }
        span{
            font-size: 2em;
        }
        .header-block{
            flex-direction: column;
        }

        .header-block div{
            width: 100%;
        }

        .img-block{
            text-align: center;
        }
        
        img{
            height: auto;
            margin: 40px auto;
            min-width: unset;
            width: 100%;
            border-radius: 5%;
        }
    }
</style>
