<template>
    <div class="container">
        <PageTitle title="Membres" />
        <section class="member-container">
            <div class="comite">
                 <Staff v-for="member in getComiteMembers" :key="member.id" :member="member" />
            </div>
            <div class="membres">
                 <Staff v-for="member in getMembers" :key="member.id" :member="member" />
            </div>
        </section>
    </div>
</template>
<script>
import Members from '~/assets/js/Members.js'
import PageTitle from '~/components/utils/PageTitle.vue'

import Staff from '~/components/Staff.vue'

export default {
    layout: 'default',
    head () {
        return {
            title: 'Jeunesse de Mont-sur-Rolle - Membres'
        }
    },
    computed: {
        getMembers () {
            return Members.getMembers().filter((data) => !data.isComite)
        },
        getComiteMembers () {
            return Members.getMembers().filter((data) => data.isComite)
        }
    },
    components: {
        Staff,
        PageTitle
    }
}
</script>
<style scoped>
    .member-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .comite, .membres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        margin: 0 auto;
        margin-bottom: 40px;
    }
</style>