<template>
    <div class="container">
        <PageTitle title="Notre jeunesse" />
        <Widget src="jeunesse.jpg" title="La jeunesse de Mont" text="La Société de Jeunesse de Mont-sur-Rolle a été fondée en 1790. Elle fait partie de la Fédération Vaudoise des Jeunesses Campagnardes, ainsi que du Giron des Jeunesses de l'Aubonne. Elle compte actuellement 11 membres agés de 17 à 35 ans. Elle est ouverte à tous les jeunes ayant fini leur scolarité obligatoire et habitant le village." />
        <Widget :reverse="true" src="nouvel_an.jpg" title="Nouvel an" text="Notre principale activité est le Nouvel-An, où la Jeunesse va souhaiter, durant six jours, une bonne année à tous les habitants. Vous avez déjà certainement entendus nos tambours résonner dans le village. N'hésitez d'ailleurs pas à nous ouvrir votre porte, nous en serons ravis. La tradition de la jeunesse est de terminer nouvel an avec le bal des vieux le 3 janvier." />
        <Widget src="jeunesse-bruxelles.jpg" title="Nos voyages et activités" text="La Société de Jeunesse organise d'ailleurs en général 2 à 3 soirées par an, dont une le 3 janvier pour le Nouvel-An. Ces soirées nous permettent d'acheter des nouveaux instruments, et de partir régulièrement en course, tels que: l'Irlande (1991), la Grèce (1995), l'Alsace et la Bourgogne (2001), à Majorque (2007), au Costa Rica (2015) et Bruxelles (2017), Valais (2021)." />
    </div>
</template>
<script>
import Widget from '~/components/about/Widget.vue'
import PageTitle from '~/components/utils/PageTitle.vue'
export default {
    head () {
        return {
            title: 'Jeunesse de Mont-sur-Rolle - Société'
        }
    },
    components: {
        Widget,
        PageTitle
    }
}
</script>