<template>
    <section>
        <div class="img-block" v-if="1">
            <img :src="require('~/assets/img/bal_2025.jpg')" alt="">
        </div>
        <div class="" v-else>
            <h4 class="font-police-semi-bold">Aucune soirée prochainement</h4>
        </div>
    </section>
</template>
<script>
import Picture from '~/components/utils/Picture.vue';

export default {
    components: {
        Picture
    }
}
</script>
<style scoped>
    .img-block{
        width: calc(100% - 40px);
        max-width: 600px;
        margin: 40px auto;
    }
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    h4{
        padding: 60px auto;
        color: #333;
        text-align: center;
    }
</style>