<template>
    <section>
        <div class="img-block">
            <img src="~/assets/img/tour_2022.png" alt="">
        </div>
        <div class="text-block">
            <div class="white-line1">
                <h2 class="font-police">Rendez-vous le 20 août 2022 à Mont !</h2>
                <div class="yellow-line"></div>
            </div>
        </div>
    </section>
</template>
<style scoped>
    section {
        height: auto;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        overflow: hidden;
        margin: 60px 0;
    }
    .text-block{
        width: 100%;
        height: 600px;
        position: relative;
        background-color: rgb(210, 236, 245);
    }

    .text-block::before{
        content: '';
        position: absolute;
        width: 400px;
        height: 100px;
        background-color: white;
        top: -20px;
        transform: rotate(-17deg);
        right: -50px;
    }

    .white-line1{
        position: absolute;
        width: 100%;
        height: 282px;
        background-color: white;
        top: 35px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .yellow-line{
        width: 100%;
        height: 46.5px;
        background-color: rgb(245, 187, 93);
        margin: auto 0 10px 0;
        position: relative;
    }

    .yellow-line::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -3.5px;
        background-color: rgb(167, 167, 167);
    }

    img{
        height: 600px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    h2{
        font-size: 1.65em;
        color: #214761;
        letter-spacing: 1.5px;
        margin: 30px auto;
    }

    @media all and (max-width: 900px){

        img, .text-block{
            height: 470px;
        }

        .white-line1 {
            top: 27px;
            height: 221px;
        }

        .yellow-line{
            margin-bottom: 8px;
            height: 36px;
        }

        .yellow-line::after{
            height: 3px;
            bottom: -3.5px;
            background-color: rgb(167, 167, 167);
        }

        .text-block::before{
            width: 200px;
            transform: rotate(-45deg);
        }
    }

    @media all and (max-width: 650px){
        section{
            flex-direction: column;
        }
        img{
            height: auto;
            width: 100%;
        }

        .yellow-line{
            margin-bottom: 0;
        }

        .yellow-line::after{
            display: none;
        }

        .text-block{
            min-height: 125px;
            height: auto;
        }

        .text-block::before{
            display: none;
        }

        .white-line1{
            top: 0;
            height: auto;
        }
    }
</style>