<template>
    <div class="widget" :class="reverse ? 'reverse' : 'normal'">
        <div class="text-block">
            <h3 class="font-police-medium">{{title}}</h3>
            <p class="font-police-medium">{{text}}</p>
        </div>
        <div class="img-block">
            <img :src="require(`~/assets/img/${src}`)" alt="">
        </div>
    </div>
</template>
<script>
export default {
    props: {
        src: String,
        reverse: Boolean,
        title: String,
        text: String
    }
}
</script>
<style scoped>
    .widget {
        display: flex;
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .normal{
        flex-direction: row;
    }

    .normal .img-block {
        margin: 0 0 0 auto;
    }

    .reverse .img-block img {
        margin: 0 auto 0 0;
    }

    .reverse{
        flex-direction: row-reverse;
    }

    .text-block{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .img-block{
        width: 40%;
        height: auto;
        display: flex;
    }

    img{
        width: calc(100% - 20px);
        margin: 0 auto;
        border-radius: 5%;
        object-fit: cover;
        object-position: center;
    }

    h3{
        font-size: 1.55em;
        color: var(--color-dark-blue);
        margin: 20px 0;
    }

    p{
        font-size: 0.85em;
        line-height: 150%;
        color: var(--color-light-gray);
        margin: 15px 0;
    }

    @media all and (max-width: 900px){
        .widget {
            flex-direction: column;
        }

        .widget div {
            width: 100%;
        }
    }
</style>