<template>
    <section>
        <p class="title font-police-semi-bold">Ils nous soutiennent !</p>
        <div class="sponsor-container">
            <img v-for="name in sponsor" :key="name" :src="require(`~/assets/img/sponsor/${name}`)" alt="">
        </div>
    </section>
</template>
<script>
export default {
    data () {
        return {
            sponsor: [
                'Logo_CEA.png',
                'Logo_CELIAG.png',
                'Logo_Commune_de_Mont_sur_Rolle.png',
                'Logo_domaine_Point_du_Jour.png',
                'Logo_domaine_Roliebot.png',
                'Logo_ISHA.png',
                'Logo_Les GamNotes.png',
                'logo_Natimmo.png',
                'Mont_sur_Rolle_Promotion.png'
            ]
        }
    }
}
</script>
<style scoped>
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
        width: 100%;
    }

    .title{
        font-size: 1.8em;
        color: var(--color-turquoise);
        letter-spacing: 0.6px;
        margin: 60px 0;
    }

    .sponsor-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        align-items: center;
        justify-content: center;
    }

    img{
        height: 90px;
    }
</style>